/* Ensure modal appears well-centered */
.modal-card {
    max-width: 500px;
    width: 100%;
}

.modal-card-head {
    background-color: #3273dc;
    color: white;
}

.modal-card-foot {
    justify-content: space-between;
}

button#openModal {
    margin: 2rem auto;
    display: block;
}
